.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXwZADEIvKc4dPbX3_CSZvLecUcU2J5_5GtQ&usqp=CAU);
width:520px ;
height: 1000px;
padding-left: 50px;
padding-top: 30px;

}
label{
    color: whitesmoke;
    font-weight: bold;
}



textarea {
    border: 4px solid #888; 
  }



  input {
    
    padding: 12px;
   /* border: 1px solid #ccc;*/
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}