.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXwZADEIvKc4dPbX3_CSZvLecUcU2J5_5GtQ&usqp=CAU);
width:520px ;
height: 1000px;
padding-left: 50px;
padding-top: 30px;

}