.text-center{
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRw9z-z64Vn5drbU1w_VoLZ1DwS2_7N6KubJw&usqp=CAU);
    color: black;
    text-shadow:2px 2px 5px yellow;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;


}
.col-md-6{
    background-image: url(https://media.istockphoto.com/photos/shiny-hot-yellow-gold-foil-golden-color-glitter-decorative-texture-picture-id1132505562?k=6&m=1132505562&s=170667a&w=0&h=TNw8Ry5UOsqoWCpMPM-m4J2zesH1UUcIfGvfJ-aDs9k=);

}
li{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    
}
